/* ===== Reset ===== */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

a,
button,
input,
textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
    opacity: 0.7;
}

a {
    display: inline-block;
}

a:hover {
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    display: block;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    border: none;
    padding-block: 0;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* === Fonts =======================================*/
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 400;
    src:
        url('../fonts/NeueHaasDisplayRoman.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayRoman.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 300;
    src:
        url('../fonts/NeueHaasDisplayLight.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 900;
    src:
        url('../fonts/NeueHaasDisplayBlack.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayBlack.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 700;
    src:
        url('../fonts/NeueHaasDisplayBold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 500;
    src:
        url('../fonts/NeueHaasDisplayMediu.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayMediu.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'NeueHaasDisplay';
    font-weight: 200;
    src:
        url('../fonts/NeueHaasDisplayXXThin.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/NeueHaasDisplayXXThin.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SaolDisplay';
    font-weight: 400;
    src:
        url('../fonts/SaolDisplay-Regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/SaolDisplay-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src:
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 300;
    src:
        url('../fonts/OpenSans-Light.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/OpenSans-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 500;
    src:
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src:
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 900;
    src:
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Optima';
    font-weight: 400;
    src:
        url('../fonts/Optima.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/Optima.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

/* === Root ====================*/
:root{
    --bg-color: #d7d7d7;
    --white: #fff;
    --black: #000;
    --beige-light: #ECE9E5;
}
/* === Global ====================*/
html{
    font-size: 16px;
}
body{
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: var(--bg-color);
}
h2{
    color: #000;
    font-family: "NeueHaasDisplay";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
h2>span{
    font-family: 'SaolDisplay';
    font-weight: 400;
}
h3{
    font-family: 'OpenSans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.wrapper{
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

/* === Header ====================*/

.header__logo{
    max-width: 395px;
    margin: 0 auto;
    padding: 32px 0 21px;
}
.header__logo img{
    width: 100%;
    object-fit: contain;
}
.header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 0 40px;
}
.header nav ul li {
    position: relative;
    box-sizing: content-box;
    padding-top: 12px;
    height: 100%;
}
.header nav ul li::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--black);
    top: 0;
    left: 0;
    transition: all 0.2s ease-out;

}
.header nav ul li:hover:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--black);
    top: -4px;
    left: 0;
}
.header nav ul li.active::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--black);
    top: -4px;
    left: 0;
}
.header nav ul li a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12px;
}

/* === Top ====================*/
.top__wrapper{
    box-sizing: border-box;
    position: relative;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
}
.top__slider{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.top__slider--btns{
    position: absolute;
    z-index: 999;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top__slider--next,
.top__slider--prev{
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 999;


}
.top__slider--pause{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}
.top__slider--play{
    display: none;
    position: absolute;
    bottom: 18px;
    right: 14px;
    z-index: 999;
    cursor: pointer;
}
.top__slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top__title{
    position: relative;
    z-index: 2;
    padding-top: 77vh;
    padding-bottom: 39px;
    font-family: 'NeueHaasDisplay';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.box-title{
    position: relative;
    padding: 72px 0 38px;
}

.box-title h2{
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.box-title h2::after,
.box-title h2::before{
    content: '';
    position: absolute;
    height: 1px;
    max-width: 150px;
    width: 20%;
    background-color: var(--black);
}
.box-title h2::after{
    top: 20px;
    left: -200px;
}
.box-title h2::before{
    top: 20px;
    right: -200px;
}

.box-title p{
    max-width: 577px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

/* Video =================*/
.video
{
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
}
.video video{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin-bottom: -7px;
}

.video .play-btn-start{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* About ======================*/
.about{
    padding: 96px 0 56px;
}
.about__wrapper{
    max-width: 960px;
    margin: 0 auto;
}
.about h2{
    position: relative;
    text-align: center;
}
.about h2::after{
    position: absolute;
    content: '';
    width: 150px;
    height: 1px;
    background-color: var(--black);
    top: 50%;
    left: 0;
}
.about h2::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 1px;
    background-color: var(--black);
    top: 50%;
    right: 0;
}
.about h3{
    max-width: 280px;
}
.about__inner{
    max-height: 544px;
    display: flex;
    gap: 24px;
    margin-top: 40px;

}
.about__persone{
    width: 35%;
    flex: 0 0 auto;
    overflow: hidden;
}
.about__persone img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about__info{
    background-color: var(--beige-light);
    padding: 57px 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:  1 0 auto;
}
.about__info--text{
    padding: 26px 0 26px 40px;
    border-left: 1px solid var(--black);
    max-width: 317px;
}
.about__info--link a{
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.about__info--link a::after{
    position: relative;
    display: inline-block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--black);
    bottom: 13px;
    left: 0;
    transition: all 0.3s ease-in;
}
.about__info--link a:hover::after{
    height: 4px;
    bottom: 9px;
}

/* Count ========================*/
.count{
    padding: 46px 0 26px;
    background-color: var(--beige-light);
}
.count__wrapper{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10vw;
    padding: 0 18px;
}
.count__item{
    text-align: center;
}
.count__title{
    position: relative;
    font-family: 'Optima';
    font-size: 48px;
    padding-bottom: 30px;
    margin-bottom: 6px;
}
.count__title span{
    /* font-family: 'SaolDisplay'; */
    /* font-family: 'NeueHaasDisplay'; */
    font-family: 'OpenSans';
    font-weight: 200;
}
.count__title::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--black);
}
.count__text{
    font-size: 14px;
    text-transform: uppercase;
}

/* Approach ======================*/
.approach{
    padding: 170px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.approach__wrapper{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 56px 50px;
    margin: 0 auto;
    backdrop-filter: blur(2px);
}
.approach__wrapper h2{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.approach__wrapper h2::after,
.approach__wrapper h2::before{
    content:'';
    position: absolute;
    height: 1px;
    width: 150px;
    background-color: var(--black);

}
.approach__wrapper h2::after{
    left: 0;
    top: 50%;
}
.approach__wrapper h2::before{
    right: 0;
    top: 50%;
}
.approach__wrapper--text{
    columns: 2;
    column-rule: 1px solid var(--black);
    column-gap: 3em;
}

/*  portfolio ========================*/

.portfolio{
    padding: 96px 0 102px;
}